@charset "utf-8" ;
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
img{
  max-width:100%;
  height:auto;
}
section{
  padding: 80px 0;
}
.container{
  max-width:1200px;
  margin:0 auto;
  padding:0 20px;
}

.section-title{
  text-align:center;
  font-size:28px;
  margin-bottom:40px;
}


.header-inner{
    display: flex;
    justify-content: space-between;
}
.header-inner nav{
    display: flex;
    align-items: center;
}
.header-inner ul{
    display: flex;
    list-style: none;
    justify-content: right;
}
.header-inner nav a,
.header-cta{
    color: black;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    padding: 0 2em;
}


.hero{
    position: relative;
    overflow: hidden;
    background-color: rgba(236, 239, 236, 0.971);
}
.hero-inner{
    display: flex;
    align-items:center;
   
}
.hero-left{
    text-align: center;
    width: 50%;
}
.cantchphrase{
    font-size:x-large;
}
.catchphrase-large{
    font-size:xx-large;
    text-decoration: underline yellow;
    text-decoration-thickness: 0.2em;
}
.no1{
    width: 50%;
}
.cta-flex{
    display: flex;
    justify-content: center;
}
.cotact-jump-btn,
.cta-btn{
    border: 2px solid rgb(210, 215, 210);
    margin: 0.5em;
    border-radius: 50%;
    padding: 0.5em 3em;
}
.cotact-jump-btn{
    background-color: white;
}
.cta-btn{
    background-color: orange;
}
.cotact-jump-btn a,
.cta-btn a{
    text-decoration: none;
    font-weight: bold;
}
.cotact-jump-btn a{
    color: orange;  
}
.cta-btn a{
    color: white; 
}
.hero-right{
    position: absolute;
    left: 50%;
    top:50%;
    transform:translateY(-50%);
    width:100%; 
}
.hero-right img{
    width: 85%;
}

.achievements{

}
.achievements-text{
    display: flex;
    justify-content: center;    
}
.achievements-text p{
    font-weight: bold;
    font-size: large;
}
.achievements-text span{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5%;
    padding: 0.5em;
    margin: 0 0.5em;
}
.achievements-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;

}

.voice{
    background-color: rgba(222, 224, 222, 0.971);
}
.voice-list{
    display: flex;
    gap: 24px;
    text-align: center;
}
.card{
    position: relative;
    
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
}
.voice-image{
    aspect-ratio: 4/ 3; /* 横:縦 の比率を指定 */
    overflow: hidden;
}
.voice-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 16px;
}
.card h3{
    font-size: x-small;
    border: 2px solid black;
    display: inline;
    padding: 0.2em;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
    gap: 8px;
}
.card-text p{
    display: block;
    font-weight: bold;
}
.card-text-left{
    width: 50%;
}
.card-text-right{
    width: 50%;
}
.card-color,
.card-large{
    font-size: x-large;
}
.card-color{
    color: rgb(24, 212, 3);
}

.banner{
    background-color: darkkhaki;   
}
.banner-inner{
    display: flex;
    align-items: center;
}
.banner-left{
    width: 50%;
}
.banner-left img{
}
.banner-right{
    text-align: center;
}
.banner-text{

}
.banner-text p{
    font-weight: bold;
    font-size: large;
}
.banner-text span{
    font-size: xx-large;
}
